{% extends 'base.html' %}
{% block content %}
<div class="login-blok2">
    <div class="login-blok">
        <h1 style="color: white;">Login</h1>
        <div class="login" style="border: 1px;">
            
            <form method="post" class="needs-validation" id="login-forms" novalidate>
                {% csrf_token %}
                <input type="text" name="name" aria-autocomplete="none" placeholder="input your nickname" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter your nickname.
                </div>
                <input type="password" name="password" aria-autocomplete="none" placeholder="input your password" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
                <button class=" btn-outline-success" id="craet-login-btn" >Submit</button>    
            </form>
            <span class="error_login">{{ error_text }}</span>
            
        </div>
    </div>
</div>
<style>
</style>
<!-- <script>
    $(document).ready(function() {
    $('#craet-login-btn').click(function(event) {
      event.preventDefault();
  
      let name = $('#name-input').val();
      let password = $('#password-input').val();
      
  
      $.ajax({
        type: 'POST',
        url: '/login/' + $('#product_pk').val(),  // Replace with the correct URL endpoint for posting comments
        data: {
          'name': name,
          'password': password,
          
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          $('#contact-tab-pane-1').html(response);
          $('#name-input').val('');
          $('#password-input').val('');
        }
      });
    });
  });
</script> -->
<script>
    (() => {
        "use strict";

        // Fetch the form element
        const form = document.querySelector(".needs-validation");

        // Add event listener for form submission
        form.addEventListener("submit", (event) => {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add("was-validated");
        });
    })();
</script>
{% endblock %}
