{% extends 'base.html' %}
{%block content%}

<!-- <h4 style="position: relative;left: 670px;height: 2px;font-family: 'Source Sans Pro';">About Us</h4> -->
<div class="mainpage">
<div class="About_Us">
    <div class="about_us_photo">
        <img src="/media/about_us.png" class="about_us_photo-1" alt=".s..">
    </div>
    <div class="about_us_text">
        <h4 class="our_store">About our store</h4>
        <p class="info_our_store">ByteBliss is a specialized retail store that focuses on providing high-quality <br> gaming PCs and other gaming devices. With a dedicated focus on the gaming <br> community, ByteBliss aims to cater to the needs of both casual and <br> professional gamers. The store is known for its extensive selection of gaming <br> PCs, accessories, and peripherals, all aimed at enhancing the gaming <br> experience.</p>
    </div>
</div>
<div class="About_Us">
    <div class="about_us_photo">
        <img src="/media/services.png" class="about_us_photo-1" alt=".s..">
    </div>
    <div class="about_us_text">
        <h4 class="our_store">What services we offer</h4>
        <p class="info_our_store">ByteBliss offers gaming PC customization, assembly, diagnostics and <br> upgrades, peripheral setup and configuration, software installation and <br> optimization, as well as personalized gaming consultation and support</p>
    </div>
    
</div>
<div class="About_Us">
    <div class="about_us_photo">
        <img src="/media/staff.png" class="about_us_photo-1" alt=".s..">
    </div>
    <div class="about_us_text">
        <h4 class="our_store">About our staff</h4>
        <p class="info_our_store">Our staff at ByteBliss is a team of highly skilled and passionate individuals who <br> are avid gamers themselves, bringing their expertise and firsthand experience to <br> assist customers in finding the perfect gaming solutions and providing top-notch <br> customer service. With their in-depth knowledge of gaming hardware and <br> software, they are committed to ensuring that customers have an exceptional <br> gaming experience and make informed decisions.</p>
    </div>
</div>
</div>
{%endblock%}