{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="product-block233">
  {% if empty != 'true' %}
  <div class="need-to-hide">
  <div
    class="modal fade "
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered h-25 ">
      <div class="modal-content .modal-sm h-25" style="display: flex">
        <div
          class="modal-body .modal-sm h-25"
          style="
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
          "
        >
          <form
            method="post"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              gap: 10px;
            "
          >
            {% csrf_token %}
            <input type="text" name="name" hidden value="buy" />
            <input
              type="text"
              name="UserName"
              class="UserName"
              id="UserName"
              placeholder="Input your name"
              required
            />
            <input
              type="email"
              name="email"
              class="email"
              id="email"
              placeholder="Input your email"
              required
            />
            <button
              type="button"
              class="order_products"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
            <button type="submit" class="order_products button-buy">Buy</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <button
    type="button"
    class="button-modal"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    Place an order
  </button>
  {% endif %}

  <div
    class="products-idi-b-bulkydgfuiuicbbhgyzgufgbhhjyuvxtvdfVJHNGgyuFgnmbhgzyyfyugHJchhcFYctuyGH"
  >
    {% for product in products %}
    <div
      class="products-1337zxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxc"
    >
      <p>{{ product.name }}</p>
      <p>{{ product.price }} $</p>
      <p>{{ product.cost }}</p>
      <!-- <p>{{ product }}</p> -->
      <form method="POST" class="delet_from_cart">
        {% csrf_token %}
        <input type="text" hidden value="{{ product.id }}" id="product_pk" name="product_pk">
        <button class="button-delete-from-cart" id="button-delete-from-cart">
          Delete from cart
        </button>
      </form>
    </div>
    {% endfor %} {% if empty == 'true' %}
    <h3 style="color: black">Your cart is empty</h3>
    <a
      style="color: rgb(30, 81, 146); text-decoration: none"
      href="../catalogue"
      >You can click here to redirect to the cart</a
    >
    {% endif %}
  </div>
</div>
<script>
 $(document).ready(function() {
//   $(".button-delete-from-cart").click(function(event) {
//     event.preventDefault();
//     const form = event.target.closest('form');
//     // console.log(form);
//     let productId = form.querySelector('.product_pk').value();
//     let pk = productId;
//     console.log(productId);

//     $.ajax({
//       type: "POST",
//       url: ' ',
//       data: {
//         csrfmiddlewaretoken: "{{ csrf_token }}",
//         'product_pk': productId,
//         'pk' : form.querySelector('.product_pk').value
//       },
//       success: function(response) {
//         console.log(response.list_products);
//         $(".products-idi-b-bulkydgfuiuicbbhgyzgufgbhhjyuvxtvdfVJHNGgyuFgnmbhgzyyfyugHJchhcFYctuyGH").empty();
//         console.log(response.list_products)
//         for (let i = 0; i < response.list_products.length; i++) {
//           let product = response.list_products[i];
//           let deleted = `
//             <div class="products-1337zxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxczxc">
//               <p>${product.name}</p>
//               <p>${product.price} $</p>
//               <form method="POST" class="delet_from_cart">
//                 {% csrf_token %}
//                 <input type="hidden" name="product_pk" id="product_pk" value="${product.id}">
//                 <button class="button-delete-from-cart" id="button-delete-from-cart">
//                   Delete from cart
//                 </button>
//               </form>
//             </div>
//           `;
//           $(".products-idi-b-bulkydgfuiuicbbhgyzgufgbhhjyuvxtvdfVJHNGgyuFgnmbhgzyyfyugHJchhcFYctuyGH").append(deleted);
//         }
//       },
//       error: function(xhr, errmsg, err) {
//         // Handle errors during the request if needed
//         console.log(xhr.status + ": " + xhr.responseText);
//       },
//     });
//   });
  $(".button-buy").click(function(event) {
    event.preventDefault();
    const form = event.target.closest('form');
    console.log(form)
    let UserName = form.getElementsByClassName('UserName')['UserName'].value;
    let email = form.getElementsByClassName('email')['email'].value;

    let url = "/cart/";

    $.ajax({
      type: "POST",
      url: url,
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        'UserName' : UserName,
        'email' : email,
        'name' : 'buy'
      },
      success: function(response) {
        console.log(response.list_products)
        $('.need-to-hide').remove();
        $('.show').remove();
        $('.button-modal').remove();
        $(".products-idi-b-bulkydgfuiuicbbhgyzgufgbhhjyuvxtvdfVJHNGgyuFgnmbhgzyyfyugHJchhcFYctuyGH").empty();
          let deleted = `
          <h3 style="color: black">Your cart is empty</h3>
          <a
            style="color: rgb(30, 81, 146); text-decoration: none"
            href="../catalogue"
            >You can click here to redirect to the cart</a
          >
          `;
          $(".products-idi-b-bulkydgfuiuicbbhgyzgufgbhhjyuvxtvdfVJHNGgyuFgnmbhgzyyfyugHJchhcFYctuyGH").append(deleted);
         
      },
      error: function(xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
    });
  });
});
</script>
<!-- <script src="{% static 'js/script1.js' %}"></script> -->
<script>

  document.querySelector('.button-delete-from-cart').addEventListener('click', (event) => {
        if (count1.textContent == '1' || count2.textContent == '1') {
            count1.textContent = 'None';
            count1.style.display = 'none';
            count2.textContent = 'None';
            count2.style.display = 'none';
        } else {
            count1.textContent = Number(count1.textContent) - 1;
            count2.textContent = Number(count2.textContent) - 1;
            console.log(count1.textContent);
        }
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock %}
